.wrapper {
    background: midnightblue;
    height: 400px;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}
.rectangle  {
    background: aquamarine;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;


}
